// COLOURS
$black: #000;
$white: #fff;
$light-grey: #E5E5E5;
$grey: #999;
$dark-grey: #343434;
$blue: #3387C4;
$red: #E23C24;
$pink: #d03e76;
$pink-hover: #822749;
$green: #69972d;
$yellow: #FFD105;

$easing: cubic-bezier(0.815, 0.025, 0.260, 0.975);