@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800');

@import "variables";
@import "reset";

html, body {
    height: 100%;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px;
    text-align: center;
    height: 100%;
    font-family: 'Open Sans', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.stage-container {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin-bottom: 8px;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin-bottom: 8px;
}

a {
    color: $pink;
    transition: color 200ms $easing;

    &:hover, &:focus {
        color: $pink-hover;
    }
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
 }